.header {
  font-size: var(--wz-font-size-m);
  padding: var(--wz-padding-m) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    font-size: var(--wz-font-size-xl);
  }
  .right {
    font-size: var(--wz-font-size-xxxl);
    width: 60px;
    display: flex;
    justify-content: space-between;
  }
}
